#nav-drawer {
  float: left;
  height: 100%;
}

#boards-drawer {
  float: left;
}
#boards-drawer-expandible {
  float: left;
}
#boards-drawer-handle {
  float: right;
  background-color: yellow;
  height: 100%;
}
#boards-drawer-header {
  clear: both;
  overflow: auto;
  background-color: burlywood;
}

#boards-drawer-header li {
  float: left;
  margin-left: 1em;
}

.board-listing-component {
}

.board-listing-component.on {
  font-weight: bold;
  background-color: grey;
}
