#board-drawer {
  margin-left: -20rem;
  font-size: 0.8rem;
  background-color: ghostwhite;

  display: flex;
  flex-flow: row;
  transition: 0.5s all ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#board-drawer.expanded {
  margin-left: 0;
  transition: 0.5s all ease;
}

#board-list {
  width: 20rem;
}

#board-drawer-handle {
  background-color: yellow;
  width: 1.5em;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#board-list header {
  background-color: lightsteelblue;
  display: flex;
  flex-flow: column;
  padding: 0.5em;
}

#board-list header nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#board-list header nav a {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#board-list header nav svg,
#board-list header nav use {
  width: 30px;
  height: 30px;
}

#board-drawer-handle svg {
  height: 3em;
  width: 100%;
}
#board-drawer-handle use {
  height: 100%;
  width: 100%;
}

.board-listing-component {
  border: thin solid grey;
  display: flex;
  flex-flow: row nowrap;
}

.board-listing-component.on {
  font-weight: bold;
  background-color: lightgray;
}

.listing-icon {
  display: none;
  font-size: 3em;
  flex: 0;
}

.listing-main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.listing-main .field {
  overflow: hidden;
  flex: 1;
}

.listing-main .button {
  width: 1.5em;
  flex: 0;
}
.listing-main svg,
.listing-main use {
  width: 1em;
  height: 1em;
}

.listing-main .field-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.board-listing-component textarea {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  background: transparent;
  resize: none;
  min-height: 1em;
}

.listing-name .field h1 {
  font-size: 1.5em;
}

.listing-main .field h2 {
  font-size: 1em;
  color: darkslategrey;
}

.field .dyntext,
.field .dyninput {
  display: none;
}

.field .dyntext.on,
.field .dyninput.on {
  display: inline;
}
