#board-component {
  flex: 1;

  display: flex;
  flex-flow: row;
  min-height: 1000px;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.progress-spinner {
  display: none;
}

.progress-spinner.on {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  opacity: 0.5;
}

.progress-spinner::after {
  border: solid 1em #000;
  border-bottom-color: darkgrey;
  border-radius: 50%;
  content: "";
  height: 3em;
  width: 3em;
  transform: translate(-50%, -50%);
  transform-origin: center;
  animation: 2s linear infinite spin;
}

#board-component main {
  position: relative;
}

#board-component nav {
  width: 4em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#board-component nav .button {
  margin-bottom: 1em;
}

#board-component nav .button svg,
#board-component nav .button use {
  height: 3em;
  width: 3em;
}

#select-template .expandible {
}

#select-template.expanded .expandible {
}

#board-wrapper {
  display: flex;
  flex-flow: row;
}

.board {
  position: relative;
  background-color: lightgray;
  display: flex;
  flex-flow: row;
  /* z-index: -10; */
}

.board.list-view {
  width: auto;
}

.board.list-view .category {
  display: flex;
  flex-flow: column;
}

.category {
}

.board.list-view .category header {
  flex: 0;
}

.task-container.drop-hover {
  border-radius: 5px;
  background-color: gray;
}

.board.list-view .task-container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.board.list-view .todo {
  display: inline;
  position: static;
}

.todo {
  position: absolute;
  box-sizing: border-box;
  width: 17em;
}
