body {
  font-size: 12pt;
  font-family: Helvetica;
}

#container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#container > header {
  flex: 0;
  font-size: 1.5em;
  background-color: lightslategray;
  padding: 0.5em;
}

#container > footer {
  flex: 0;
  background-color: magenta;
}

#middle {
  flex: 1;

  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: stretch;
}

#toggle-view.on {
  fill: lightsteelblue;
}

.indicator .open,
.indicator.expanded .close {
  display: none;
}

.indicator.expanded .open,
.indicator .close {
  display: block;
}

#template-list-expander {
}
#template-list-expander.expanded svg {
  fill: lightgrey;
}
#template-list-content {
  display: none;
  position: absolute;
}
#template-list-content.expanded {
  display: block;
}
