body {
  font-size: 12pt;
  font-family: Helvetica;
}

#container {
  display: flex;
  flex-flow: column;
}

#container > header {
  flex: 0;
  font-size: 1.5em;
  background-color: lightslategray;
  padding: 0.5em;
  width: 100%;
}

#container > footer {
  flex: 0;
  background-color: magenta;
  width: 100%;
}

#middle {
  flex: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: stretch;
}

#toggle-view.on {
  fill: lightsteelblue;
}

.indicator .open,
.indicator.expanded .close {
  display: none;
}

.indicator.expanded .open,
.indicator .close {
  display: block;
}
