div {
  padding: 0;
  margin: 0;
  border: none;
}

#board {
  margin-left: 50px;
  background-color: lightgray;
  width: 900px;
  height: 100vh;
}

.todo {
  position: relative;
  font-family: Helvetica;
  width: 200px;
  height: auto;
  margin: 0;
  padding: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
  overflow: auto;
}

.todo:hover {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.todo:active:hover {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: lightyellow;
}

.todo-left {
  float: left;
  width: auto;
}

.todo-right {
  float: right;
  width: 10px;
  height: 100%;
  background-color: fuchsia;
}

.todo textarea,
.todo input {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  background: transparent;
  resize: none;
}

.todo textarea {
  margin: 0;
  width: 100%;
  height: auto;
  font-family: Helvetica;
}

.todo textarea:focus {
}

.expandible {
  overflow: hidden;
  height: 0;
  transition: all 0.5s ease;
}

.expandible.expanded {
  height: 1.25em;
}

ul.icons {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

ul.icons li {
  margin: 0 2px 0 2px;
  float: left;
}

ul.icons li:last-child {
  float: right;
  clear: none;
}

ul.icons a svg {
  width: 20px;
  height: 20px;
  fill: lightgray;
}

ul.icons svg symbol {
  width: 20px;
  height: 20px;
}

ul.icons .check.selected svg {
  fill: olivedrab;
}
ul.icons li:hover .check.selected svg {
  fill: darkseagreen;
}
ul.icons .flag.selected svg {
  fill: firebrick;
}
ul.icons li:hover .flag.selected svg {
  fill: indianred;
}
ul.icons .pin.selected svg {
  fill: deepskyblue;
}
ul.icons li:hover .pin.selected svg {
  fill: lightskyblue;
}

ul.icons li:hover svg {
  fill: darkslategray;
}

ul.icons input {
  font-family: Arial;
}
