.todo {
  font-size: 1.1em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  overflow: auto;
  padding: 0.5em;
  background-color: lightgoldenrodyellow;
}

.board.list-view .todo {
  box-shadow: none;
}

.todo.dummy {
  position: absolute;
  z-index: -100;
}

.todo.drop-hover * {
  pointer-events: none;
}

.todo:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.todo:focus-within {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  filter: contrast(120%) saturation(120%);
}

.todo.drop-hover {
  filter: brightness(0.9);
}

.todo textarea,
.todo input {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  background: transparent;
  resize: none;
}

.todo textarea {
  margin: 0;
  width: 100%;
  height: auto;
  font: 1em "Roboto", Helvetica, sans-serif;
}

.todo textarea:focus {
}

.todo .due {
}

.todo.done textarea {
  font-style: italic;
  color: darkslategrey;
}

.todo.flag {
  background-color: peachpuff;
}
.todo.flag textarea {
  background-color: peachpuff;
}

.todo .expandible {
  overflow: hidden;
  height: 0;
  transition: all 0.5s ease;
}

.todo.expand .expandible {
  height: 1.2em;
  transition: all 0.5s ease;
}

ul.icons {
  width: 100%;
  overflow: hidden;
  list-style-type: none;
}
ul.icons li {
  margin: 0 2px 0 2px;
  float: left;
}
ul.icons li:last-child {
  float: right;
}

ul.icons a svg {
  width: 1.2em;
  height: 1.2em;
  fill: lightgray;
}
ul.icons svg symbol {
  width: 1.2em;
  height: 1.2em;
}

.todo.done .done svg {
  fill: olivedrab;
}
.todo.done li:hover .done svg {
  fill: darkseagreen;
}
.todo.flag .flag svg {
  fill: firebrick;
}
.todo.flag li:hover .flag.on svg {
  fill: indianred;
}
.todo.pin .pin svg {
  fill: deepskyblue;
}
.todo.pin li:hover .pin svg {
  fill: lightskyblue;
}
ul.icons li:hover svg {
  fill: darkslategray;
}
ul.icons input {
  font-family: Arial;
}
