#board-component {
  flex: 1 0;
  display: flex;
  flex-flow: row;
}
#board-component main {
  flex: 1 0;
  position: relative;
}

#board-component nav {
  padding: 0.5em;
  width: 5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 0 0;
  border-right: 1px solid grey;
  z-index: 10000;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

#board-wrapper {
  flex: 1 0;
}

#board-component nav a {
  display: flex;
  flex-flow: column;
  align-items: center;
  font: bold 1em "Roboto", Helvetica, sans-serif;
  color: black;
  fill: black;
}

#board-component nav a.on {
  color: #c34bbf;
  fill: #c34bbf;
}

#board-component nav a:hover {
  color: #777;
  fill: #777;
}

#board-component nav a:active {
  color: #cd55c9;
  fill: #cd55c9;
}

#board-component nav a label {
  text-align: center;
}

#board-component nav .button {
  margin-bottom: 1em;
}

#board-component nav .button svg,
#board-component nav .button use {
  height: 3em;
  width: 3em;
}

#select-template .expandible {
}

#select-template.expanded .expandible {
}

#board-wrapper {
  display: flex;
  flex-flow: row;
}

.board {
  flex: 1;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  /* z-index: -10; */
}

.board.list-view {
  width: auto;
}

.board.list-view .category {
  display: flex;
  flex-flow: column;
}

.category {
  flex: 1 1 0;
}

.board.list-view .category header {
  flex: 0;
}

.category header {
  pointer-events: none;
}

.drop-hover .task-container,
.task-container.drop-hover {
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.3);
}

.board.list-view .task-container {
  margin-left: 0.5em;
  padding: 0.5em;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.board.list-view .todo {
  display: inline;
  position: static;
  margin-bottom: 0.5em;
}

.todo {
  display: block;
  position: absolute;
  box-sizing: border-box;
  min-width: 15em;
}

.category header {
  text-align: center;
  margin: 1em;
  padding: 0.8em;
}

.category header h1 {
  font: bold 1.5em "Lato", Helvetica, sans-serif;
}

.category header h2 {
  font: normal 1.2em "Lato", Helvetica, sans-serif;
}
