body {
  font-size: 12pt;
  font-family: Helvetica;
}

#container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#container > header {
  flex: 0;
  font: "Lato", Helvetica, sans-serif;
  color: white;
  background-color: #7ec25a;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 2em;
  z-index: 10010;

  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

#container > header h1 {
  font-weight: bold;
  font-size: 2.5em;
}

#container > header h2 {
  margin-left: 1.5em;
  font-weight: bold;
  font-size: 1.4em;
}

#container > footer {
  flex: 0;
  background-color: magenta;
}

#middle {
  flex: 1;

  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: stretch;
}

#template-list-expand {
  display: none;
  position: absolute;
}
#template-list-expand.expanded {
  display: block;
}
