#template-list-expand {
  display: none;
  position: absolute;
}
#template-list-expand.expanded {
  display: block;
}

.template-listing {
  border-radius: 0.25em;
  padding: 0.25em;
  font: bold 1em "Robot", Helvetica, sans-serif;
}

.template-listing:hover {
  background-color: #eee;
}
.template-listing:active {
  background-color: #ddd;
}
